head
  title= __('jukesy - watch music videos')

  meta(content= __('jukesy is a music video player and a mashup of the youtube and last.fm apis'), name= 'description')
  meta(content= __('Adrian Bravo'), name= 'author')
  meta(content= __('youtube music, music videos, music, music player, youtube, last.fm, mashup'), name= 'keywords')
  meta(content= 'width=device-width, initial-scale=1', name= 'viewport')

  - each stylesheet in assets.css
    link(rel='stylesheet', href='/' + stylesheet, type='text/css')
  - each stylesheet in assets.less
    link(rel='stylesheet/less', href='/' + stylesheet, type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Cabin|Salsa', rel='stylesheet', type='text/css')
