@blue: rgba(51, 181, 229, 1);

@import "include.less";
@import "layout.less";
@import "playlist.less";
@import "controls.less";

body {
  padding-top: 60px;
  padding-bottom: 240px;

  &.dragging {
    .no-select();
  }
  
  &.fullscreen {
    #video {
      left: 0;
      z-index: 100000;
    }
  }
}

.modal-header {
  h1, h2, h3, h4, h5, h6 {
    color: #333;
  }
}

a:hover {
  cursor: pointer;
}

#header .navbar-inner {  
  #query {
    background: #ddd;
    //color: #333;
    margin-top: 6px;
    margin-bottom: 0;
    //border: 1px solid #444;
    &::-webkit-input-placeholder, &::-moz-placeholder {
      color: #666;
    }
    &:focus {
      &::-webkit-input-placeholder, &::-moz-placeholder {
        color: #fff;
      }
      //outline: thin solid @blue;
      background: @blue;
      color: #fff;
    }
  }
  
  #brand {
    //font-size: 24px;
    color: @blue;
    &:hover {
      color: #fff;
    }
  }
  
  #session-button {
    .nav {
      //margin-top: 8px;
      margin-right: 0;
      .caret {
        margin-top: 8px;
      }
    }
  }
}

#main {
  margin-bottom: 20px;
}

#sidebar {
  position: fixed;
  
  hr {
    margin: 4px 0;
  }
  
  ul {
    margin: 0 -8px 0 0;
    padding: 0;
    font-size: 14px;
        
    li a {
      margin: 0;
      padding: 4px 4px;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

footer {
  margin-bottom: 260px;
  a {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

#video {
  .no-select();
  background: #000;
  position: fixed;
  bottom: 30px;
  left: 0;
  border-top: 2px solid @blue;
  border-right: 2px solid @blue;
}

#keyboard-shortcuts-modal {
  font-size: 12px;
  color: #666;
  
  .key {
    display: inline-block;
    background: #eee;
    .gradient(#fff, #eee);
    .radius(2px);
    padding: 1px 7px;
    margin: 0 10px 5px 0;
    border: 1px solid #666;
    border-bottom: 2px solid #666;

    font-size: 10px;
    height: 18px;
    cursor: default;
    
    &.icon {
      cursor: default;
    }
    &.big {
      font-size: 12px;
    }
  }
}
