@import "include.less";
@import "layout.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: "Ubuntu";
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

#brand {
  font-family: 'Ruluko';
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}
