@import "include.less";
@import "layout.less";

input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: "Ubuntu";
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: @body-grey;
}

a:hover {
  cursor: pointer;
}

hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

#header .navbar-inner {
  background: #333;
  box-shadow: 0 2px 0 rgba(48, 48, 48, 0.5);

  a {
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  #query {
    background: #ddd;
    color: #333;
    margin-top: 8px;
    border: 1px solid #444;
    &::-webkit-input-placeholder { color: #666; font-style: italic; }
    &::-moz-placeholder          { color: #666; font-style: italic; }
    &:focus {
      outline: 2px solid #666;
      background: #eee;
    }
  }
  
  #brand {
    font-family: 'Ruluko';
    font-weight: bold;
    font-size: 24px;
    color: @body-grey;
    &:hover {
      color: #eee;
    }
  }
  
  #session-button {
    .nav {
      margin-right: 0;
      .caret {
        margin-top: 8px;
      }
    }
  }
}

#main {
  margin-bottom: 20px;
  text-shadow: 0px 1px 0 #ddd;
}

#video-wrapper {  
  #video {
    background: #000;
    h1 {
      color: @body-grey;
    }
  }
}

#controls {
  background: #333;
  box-shadow: 0 -2px 0 rgba(48, 48, 48, 0.5);
  position: fixed;
  height: 30px;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;

  #volume-bar, #timer {
    display: inline-block;
    background: #666;
    height: 10px;
    .radius(4px);
    
    .fill {
      height: 10px;
    }
  }
  
  #timer {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    
    .fill {
      width: 500px; ////
      background: @body-grey;
      cursor: pointer;
      
      .track {
        width: 300px; ////
        height: 10px;
      }
    }
  }
  
  #volume-bar {
    width: 100px;
    cursor: pointer;
    
    .fill {
      width: 40px; ////
      background: @body-grey;
      .radius(4px);
    }
  }
  
  .control {
    padding: 3px 8px;
    display: inline-block;
    opacity: 0.5;
    margin: 3px 0;
    cursor: pointer;
    &:hover {
      .fade(.2s);
      opacity: 1.00;
    }
  }
  
  .controls-left, .controls-right, .controls-middle {
    position: fixed;
    bottom: 0;
    height: 30px;
  }
  
  .controls-middle {
    left: 240px;
    right: 130px;
  }
  
  .controls-right {
    right: 0;
  }
  
}


#sidebar {
  hr {
    margin: 4px 0;
  }
  ul {
    margin: 0 -8px 0 0;
    padding: 0;
    font-size: 14px;
        
    li a {
      margin: 0;
      padding: 3px;
      color: #333;
      font-size: 14px;
      line-height: 20px;

      &:hover {
        background: #ccc;
      }
    }
  }
}

footer {
  color: #333;
  margin-bottom: 40px;
  a {
    color: #333;
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}
