
#play, #next, #prev,
#mute, #repeat, #fullscreen {
  opacity: 0.5;
  &:hover { opacity: 1.0; }
}

#play,
#next,
#prev,
#mute,
#repeat,
#fullscreen {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background: transparent url('/images/buttons.png') no-repeat 0 0;
  cursor: pointer;
}

#mute {
  background-position: -150px -150px;
  width: 16px;
  margin: 6px 0 0 0;
  &.on { background-position: -200px -150px; }
}

#prev {
  background-position: -50px -200px;
  width: 16px;
  margin: 4px 0 0 0;
}

#next {
  background-position: -100px -200px;
  width: 16px;
  margin: 4px 0 0 0;
}

#play {
  background-position: -50px -150px;
  width: 18px;
  height: 24px;
  margin: 1px 0 0 0;

  &.pause { background-position: -100px -150px; }
  &.loading { background-position: -1000px -150px; }
}

#repeat {
  background-position: -50px -350px;
  margin: 5px 0 0 0;
  width: 16px;
}

#fullscreen {
  background-position: -100px -250px;
  width: 16px;
  margin: 4px 0 0 0;
  &.off { background-position: -50px -250px; }
}

#volume {
  display: inline-block;
  background: #222;
  .gradient(#161616, #222);
  width: 80px;
  height: 8px;
  margin: 7px 0 0 0;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;

  .ui-slider-range {
    background: #777;
    .gradient(#666, #777);
    height: 10px;
  }

  .ui-slider-handle {
    position: relative;
    display: block;
    opacity: 1.0;
  }
}

#timer {
  background: #222;
  .gradient(#010101, #313131);
  overflow: hidden;
  .radius(8px);
  height: 10px;
  z-index: 20;
  margin: 8px 10px;

  * {
    height: 10px;
    z-index: 20;
  }

  #timer_loaded {
    background: #444;
    .gradient(#363636, #666);
    .radius(8px);
    width: 0px;
    cursor: pointer;
  }

  #timer_current {
    background: #777;
    .gradient(#666, #999);
    .radius(8px);
    width: 0px;
    position: relative;
  }

}

.controls-left {
  position: absolute;
  top: 8px;
  left: 0;
  right: 100px;
}

#timer {
  position: absolute;
  top: 15px;
  left: 190px;
  right: 50px;
}
.controls-right {
  position: absolute;
  top: 8px;
  right: 0;
}

#song_info, #timer_left, #timer_right {
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  position: absolute;
  color: #999;
  text-shadow: -1px -1px 2px #000;
  top: 0px;
  left: 200px;
  right: 60px;
}

#song_info {
  text-align: center;
}

#timer_left {
  text-align: left;
}

#timer_right {
  right: 60px;
  text-align: right;
}

