#controls {
  .no-select();
  background: #222;
  box-shadow: 0 0 15px #111;
  position: fixed;
  z-index: 1000000;
  height: 45px;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  font-size: 12px;

  #volume-bar, #timer {
    display: inline-block;
    background: #333;
    height: 10px;
  }
  
  #timer {
    margin-top: 10px;
    width: 100%;
    overflow: visible;
    .radius(0px);
    
    .fill, .track {
      .radius(0px);
      position: absolute;
      height: 10px;
      cursor: pointer;
    }
    .fill {
      background: #444;
    }    
    .track {
      z-index: 1000001;
    }
  }
  
  #volume-bar {
    width: 100px;
    cursor: pointer;
    
    .fill {
      height: 10px;
    }
  }
  
  .control {
    padding: 3px 8px;
    width: 10px;
    display: inline-block;
    margin: 3px 0;
    cursor: pointer;
  }
  
  #volume-bar, #timer {
    &#volume-bar .fill, &#timer .track {
      background-color: @blue;
      opacity: 1;
    }
  }
  
  .control {
    color: @blue;
    opacity: 0.5;
  }
  #prev, #play-pause, #next, #volume {
    opacity: 1;
  }
  
  #repeat, #shuffle, #radio {
    opacity: 1;
    &.off {
      opacity: 0.33;
    }
  }
  
  #fullscreen {
    opacity: 1;
    &:hover {
      color: @blue
    }
  }
  
  .control {
    &.disabled {
      opacity: 0.1;
    }
  }
  
  .span12 {
    position: absolute;
  }
  
  .span12.controls {
    top: 15px;
  }

  .span12.track-info {
    top: 3px;
    text-align: center;
  }
  
  .controls-left, .controls-right, .controls-middle {
    position: absolute;
    height: 30px;
  }
  
  .controls-middle {
    left: 240px;
    width: 575px;
  }
  
  .controls-right {
    right: 0;
  }
}
