@header-height: 120px;
@sidebar-width: 360px;

@color1: #bcbdac;
@color2: #cfbe27;
@color3: #f27435;
@color4: #f02475;
@color5: #3b2d38;

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

.rotate {
  -webkit-transform:                  translate3d(0, 0, 0);
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;
  -moz-transform:                 translate3d(0, 0, 0);
  -moz-animation-name:            rotate;
  -moz-animation-duration:        1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.radius (@r) {
  border-radius: @r;
  -moz-border-radius: @r;
  -webkit-border-radius: @r;
}

.gradient (@top, @bottom) {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, @top), color-stop(0, @bottom));
  background-image: -moz-linear-gradient(center bottom, @top 100%, @bottom 0%);
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.yes-select {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}

.grey-box () {
  background: #f9f9f9;
  border: 1px solid #ccc;
  color: #333;
}

.blue-box () {
  background: #69f;
  border: 1px solid #06f;
  color: #fff;
}

.clear { clear: both; }
.right { float: right; }
.left { float: left; }


::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #eee;
}
::-webkit-scrollbar-thumb {
    .radius(10px);
    background: #666;
}


