.table-striped {
  tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background: #d6d6d6;
  }
  tbody tr:hover td {
    background: @lightGrey;
    color: #333;
  }
}

#now-playing {
  .no-select();
  
  .icon-white {
    display: none;
  }
  
  a {
    color: #333;
    max-height: 18px;
    overflow: hidden;
    display: inline-block;
  }
  
  .artist {
    width: 300px;
  }
  
  .play {
    width: 14px;
    padding: 6px 5px;
  }
  
  .error {
    td {
      background: rgba(204, 102, 102, 0.5);
      a {
        color: #fff;
      }
      
      .icon-exclamation-sign {
        display: block;
      }
    }
  }
  
  .playing {
    td {
      background: rgba(102, 204, 102, 0.7);
      a {
        color: #fff;
      }
      
      .icon-play-circle {
        display: block;
      }
    }
    
    &:hover td {
      background: rgba(102, 204, 102, 1);
    }
  }
  
}

#search {
  .artist a, .name a {
    color: #333;
    max-height: 18px;
    overflow: hidden;
    display: inline-block;
  }
  
  #search-tracks {
    .artist {
      width: 300px;
    }
  }
  
  td.dd {
    width: 14px;
    border-right: 2px solid #ddd;
    
    .dropdown {
      a.dropdown-toggle {
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
      
      &.open .dropdown-toggle {
        background: transparent;
      }
    }
  }
  
  td.play {
    width: 22px;
    
    a {
      background: #999;
      .radius(2px);
      padding: 5px;
      
      &:hover {
        background: #333
      }
    }
  }
  
  #search-artists {
    ul {
      list-style: none;
      li {
        .radius(4px);
        background: #06f;
        color: #fff;
        width: 96px;
        margin: 0 10px 10px 0;
        padding: 10px;
        float: left;
        overflow: hidden;
      
        img {
          width: 96px;
          height: 96px;
        }
      }
    }
  }
}
