.tracks {
  //.no-select();
  
  .artist {
    width: 300px;
  }
  
  .artist a, .name a {
    display: inline-block;
    max-height: 18px;
    overflow: hidden;
  }
  
  td.dd {
    width: 14px;
    height: 18px;
    
    .dropdown {
      a.dropdown-toggle {
        opacity: 0.2;
        &:hover {
          text-decoration: none;
          opacity: 1;
        }
      }
      
      &.open .dropdown-toggle {
        color: @blue;
      }
    }
  }

  td.play {
    width: 22px;
    a {
      .radius(2px);
      padding: 5px 8px;
      background: @blue;
      color: #fff;
      opacity: 1;
      
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }


  .error {
    td {
      //background: rgba(204, 102, 102, 0.5);
      &.artist a, &.name a {
        //color: #fff;
      }
    }
    td.play {
      a {
        display: none;
      }
    }
  }
  
  .playing {
    td {
      //background: rgba(102, 204, 102, 0.7);
      &.artist a, &.name a {
        //color: #fff;
      }
    }
    td.play {
      a {
        //background: rgba(62, 164, 62, 1);
        &:hover {
          //background: rgba(32, 134, 32, 1);
        }
      }
    }
    &:hover td {
      //background: rgba(102, 204, 102, 1);
    }
  }
}
.artists {
  ul {
    list-style: none;
    
    .span4 {
      margin-left: 0;
      margin-right: 10px;
    }
    
    li {
      //background: #d6d6d6;
      margin-bottom: 10px;
      padding: 5px;
      
      .image {
        display: inline-block;
        margin-right: 10px;
        width: 48px;
        height: 48px;
        padding: 2px;
        .radius(2px);
        //background: #fff;
        
        img {
          width: 48px;
          height: 48px;
        }
      }
      
      .info {
        display: inline-block;
        width: 238px;
        vertical-align: top;
      }
      
      a {
        //color: #333;
      }
      
      .name a {
        max-height: 36px;
        overflow: hidden;
      }
    }
  }
}
  
.albums {
  ul {
    list-style: none;
    
    .span4 {
      margin-left: 0;
      margin-right: 10px;
    }
    
    li {
      //background: #d6d6d6;
      margin-bottom: 10px;
      padding: 5px;
      
      .image {
        display: inline-block;
        margin-right: 10px;
        width: 48px;
        height: 48px;
        padding: 2px;
        .radius(2px);
        //background: #fff;
        
        img {
          width: 48px;
          height: 48px;
        }
      }
      .info {
        display: inline-block;
        width: 238px;
        vertical-align: top;
      }
      a {
        //color: #333;
      }
      
      .artist a {
        max-height: 18px;
        overflow: hidden;
      }
      .name a {
        max-height: 36px;
        overflow: hidden;
      }
    }
  }
}