.table-striped {
  tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
    background: #d6d6d6;
  }
  tbody tr:hover td {
    background: @lightGrey;
    color: #333;
  }
}






.tracks {
  .no-select();
  
  .artist {
    width: 300px;
  }
  
  .artist a, .name a {
    color: #333;
    max-height: 18px;
    overflow: hidden;
    display: inline-block;
  }
  
  td.dd {
    width: 14px;
    border-right: 1px solid #ddd;
    
    .dropdown {
      a.dropdown-toggle {
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
      
      &.open .dropdown-toggle {
        background: transparent;
      }
    }
  }

  .error {
    td {
      background: rgba(204, 102, 102, 0.5);
      &.artist a, &.name a {
        color: #fff;
      }
    }
    td.play {
      a {
        display: none;
      }
    }
  }
  
  .playing {
    td {
      background: rgba(102, 204, 102, 0.7);
      &.artist a, &.name a {
        color: #fff;
      }
    }
    td.play {
      a {
        background: rgba(62, 164, 62, 1);
        &:hover {
          background: rgba(32, 134, 32, 1);
        }
      }
    }
    &:hover td {
      background: rgba(102, 204, 102, 1);
    }
  }
    
  td.play {
    width: 22px;
    
    a {
      background: #999;
      .radius(2px);
      padding: 5px;
      
      &:hover {
        background: #333
      }
    }
  }

}
.artists {
  ul {
    list-style: none;
    
    .span4 {
      margin-left: 0;
      margin-right: 10px;
    }
    
    li {
      background: #d6d6d6;
      box-shadow: 0 0 2px #aaa;
      margin-bottom: 10px;
      padding: 5px;
      
      .image {
        display: inline-block;
        margin-right: 10px;
        width: 48px;
        height: 48px;
        padding: 2px;
        .radius(2px);
        background: #fff;
        
        img {
          width: 48px;
          height: 48px;
        }
      }
      
      .info {
        display: inline-block;
        width: 238px;
        vertical-align: top;
      }
      
      a {
        color: #333;
      }
      
      .name a {
        max-height: 36px;
        overflow: hidden;
      }
    }
  }
}
  
.albums {
  ul {
    list-style: none;
    
    .span4 {
      margin-left: 0;
      margin-right: 10px;
    }
    
    li {
      background: #d6d6d6;
      box-shadow: 0 0 2px #aaa;
      margin-bottom: 10px;
      padding: 5px;
      
      .image {
        display: inline-block;
        margin-right: 10px;
        width: 48px;
        height: 48px;
        padding: 2px;
        .radius(2px);
        background: #fff;
        
        img {
          width: 48px;
          height: 48px;
        }
      }
      .info {
        display: inline-block;
        width: 238px;
        vertical-align: top;
      }
      a {
        color: #333;
      }
      
      .artist a {
        max-height: 18px;
        overflow: hidden;
      }
      .name a {
        max-height: 36px;
        overflow: hidden;
      }
    }
  }
}