
.type-links {
  display: none;
  a { margin-right: 20px; }
  &.type-track .-track { text-decoration: none; color: #333; cursor: default; }
}

#main {
  .search-for {
    text-align: center; font-size: 20px;
    strong { font-size: 36px; text-shadow: 0 2px 0 #555; }
  }
}

.tags {
  li {
    margin: 10px;
    display: inline-block;
    cursor: pointer;

    a.tag {
      display: block;
      width: 200px;
      background: #666;
      padding: 5px;
      color: #fff;
      .text {
      }
    }
  }
}

.artists, .albums {
  text-align: center;

  li {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    a.artist, a.album {
      text-decoration: none;

      .avatar {
        border-left: 20px solid #333;
        background: #999 no-repeat center center;
        width: 170px;
        height: 170px;
      }

      .text {
        display: block;
        color: #333;

        .name { font-weight: bold; }
        .name,
        .albumartist {
          width: 190px;
          height: 23px;
          line-height: 23px;
          overflow: hidden;
          &:hover { text-decoration: underline; }
        }
      }
    }

    &:hover {
      background: #ddd;
    }
  }
}

.tracks {
  list-style-type: none;

  li {
    position: relative;
    &.selected, &.playing {
      .avatar {
        background: #333;
        border-color: @bluegrey;
      }
    }
    &.selected {
      .track {
        background: @lightblue;
        .artist, .name {
          color: @bluegrey;
          text-shadow: 0 1px 0 #fff;
        }
      }
    }
    &.playing {
      .track {
        padding: 10px 5px;
        .gradient(#eee, #aaa);
        .artist, .name {
          line-height: 44px;
          color: @bluegrey;
          text-shadow: 0 1px 0 #fff;
        }
      }
    }
    /*
      .name, .artist {
        color: #ccc;
        &:hover { color: #fff; }
      }
    }
    &.error .track {
      background: #900;
      .name, .artist { color: #ccc; }
    }
    */
  }

  li {
    background: #333;
  }
  li:nth-child(even) {
    background: #262626;
  }

  .track {
    margin: 0 auto;
    position: relative;
    padding: 5px;

    .cols {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 36px;
      right: 5px;
      overflow: hidden;
    }

    .name,
    .artist {
      display: inline-block;
      vertical-align: top;
      width: 50%; height: 32px;
      font-size: 16px;
      color: #999;
      text-shadow: 0 1px 0 #111;
      line-height: 32px;
      overflow: hidden;
      cursor: pointer;
      &:hover { color: #ccc; }
    }

    .avatar {
      background: #999;
      margin: 0 5px 0 0;
      padding: 0;
      border-right: 2px solid #111;
      width: 24px;
      height: 24px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}



.more {
  position: relative;
  cursor: pointer;
  background: #444;
  color: #ddd;
  text-shadow: 0 2px 0 #000;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  text-align: center;

  &.disabled, &.disabled:hover {
    background: #777;
    color: #999;
    cursor: default;
    text-shadow: 0 0 0;
  }

  &:hover {
    background: @lightblue;
    color: @bluegrey;
    text-shadow: 0 0 0;
  }

  .wait {
    display: none;
    width: 16px;
    height: 16px;
    background: url('/images/more.gif') no-repeat 0 0;
    position: absolute;
    top: 14px;
    right: 14px;
  }
  &.disabled .wait { display: block; }
}

