@SEARCH-normal-img-side: 96px;
@SEARCH-small-img-side: 16px;

#search, #playlist {
  color: #bbb;
  font-size: 11px;

  .wait {
    width: 16px;
    height: 16px;
    background: url('/images/more.gif') no-repeat 0 0;
  }

  .empty {
    padding: 10px;
    font-size: 13px;
  }

  .artists { max-height: 140px; }
  .albums { max-height: 150px; }

  .artists, .albums {
    overflow: hidden;

    li {
      float: left;
      display: inline;
      margin: 5px;
      padding: 5px;
      background: #111;
      font-size: 10px;
      height: @SEARCH-normal-img-side + 30px;

      .inner {
        overflow: hidden;
        width: @SEARCH-normal-img-side;
        position: relative;
        text-align: center;

        .name, .artist {
          overflow: hidden;
          height: 15px;
          line-height: 20px;
        }
      }
    }

    .listeners, .albumid { display: none; }
    .img, img.lastfm {
      margin: 0 -1000px; // Centering hack?
      padding: 0;
      height: @SEARCH-normal-img-side;
    }

  }

  .tracks {

    td {
      font-size: 12px;
      padding: 2px 5px;
      vertical-align: middle;
    }

    .name, .artist {
      width: 50%;
    }

    thead tr {
      background: #323232;
      td {
        border-right: 1px solid #262626;
        height: 24px;
        font-weight: bold;
      }
    }

    tr {
      background: #2a2a2a;
    }
    tr:nth-child(even) {
      background: #262626;
    }
    tr:hover {
      background: #363636;
    }
    tr.selected {
      background: #c0d4df;
      color: #333;
    }
    tr.playing {
      background: #ccc;
      .gradient(#eee, #aaa);
      text-shadow: 0 1px 1px #fff;
      color: #333;
      &.selected {
        background: #d0e4ef;
      }
    }

    .img {
      width: 24px;
      height: 24px;
      text-align: center;
      img.lastfm {
        display: block;
        width: 24px;
        height: 24px;
        background: #111;
      }
    }

    .cell {
      height: 16px;
      overflow: hidden;
    }
  }
}

/*
.sort {
  width: 100%;
  position: relative;
  height: 32px;
  .gradient(#aaa, #888);

  .cols {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 36px;
    right: 5px;
    overflow: hidden;
  }

  .name,
  .artist {
    display: inline-block;
    vertical-align: top;
    width: 50%; height: 32px;
    font-size: 16px;
    color: #333;
    text-shadow: 0 1px 0 #ccc;
    line-height: 32px;
    overflow: hidden;
    cursor: pointer;
    &:hover { color: #000; text-decoration: underline; }
  }
}
*/

/*
.more {
  position: relative;
  cursor: pointer;
  background: #444;
  color: #ddd;
  text-shadow: 0 2px 0 #000;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  text-align: center;

  &.disabled, &.disabled:hover {
    background: #777;
    color: #999;
    cursor: default;
    text-shadow: 0 0 0;
  }

  &:hover {
    background: @lightblue;
    color: @bluegrey;
    text-shadow: 0 0 0;
  }

  .wait {
    display: none;
    width: 16px;
    height: 16px;
    background: url('/images/more.gif') no-repeat 0 0;
    position: absolute;
    top: 14px;
    right: 14px;
  }
  &.disabled .wait { display: block; }
}
*/


