.contextmenu-action play
  .extra doubleclick
.contextmenu-action queue next
  .extra shift + click
.contextmenu-action queue last
  
.contextmenu-divider
  
.contextmenu-action add to playlist
.contextmenu-action share