.controls-left
  #prev
  .d8
  #play
  .d8
  #next
  .d10
  #mute
  .d8
  #volume
#timer
  #timer_loaded
    #timer_current
.controls-right
  #repeat.off
  .d8
  #fullscreen

#timer_left
#song_info
#timer_right
