p(class= 'type-links type-{{ type }}')
  a.-track(href= '/#/lastfm/track/{{ method }}/{{ encodeURIComponent(query) }}') Track
  a.-artist(href='/#/lastfm/artist/{{ method }}/{{ encodeURIComponent(query) }}') Artist
  a.-album(href='/#/lastfm/album/{{ method }}/{{ encodeURIComponent(query) }}') Album
  a.-tag(href='/#/lastfm/tag/{{ method }}/{{ encodeURIComponent(query) }}') Tag

p.search-for
  | Search results for {{ type }}:
  strong {{ query }}

ul#lastfm_search_results(class= '{{ type }}s')
  .sort
    .cols
      .name Track
      .artist Artist
.clear
.more Show more
  .wait

