#playlist
  .header
    input.name(type= 'text', value= '{{ name }}', spellcheck= 'false')

  .tracks
    table
      thead
        tr
          td.art
          td.name Track
          td.artist Artist
      tbody
