#search

  .artists
    | Searching for artists "{{query}}"
    .wait
  .clear

  .albums
    | Searching for albums "{{query}}"
    .wait
  .clear

  .tracks
    | Searching for tracks "{{query}}"
    .wait
  .clear
