.actions
  .play(title= 'play selected songs immediately') play
  .next(title= 'play selected songs next') next
  .last(title= 'play selected songs last') last
  br
  .heart(title= 'add to favorites')
  .add(title= 'add to playlist(s)')
  //<% if (selected > 0) %>
  //.count
  //  {{ selected }}
