div
  .hero-unit
    h1 About
    p Jukesy is a music video player and a mash-up of the Last.fm and YouTube APIs.

    h3 Contact
    p
      | You can reach me by email at
      a.ll(href= 'mailto:me@adrianbravo.net') me@adrianbravo.net

    h3 Code
    p
      | Jukesy can be forked at
      a.ll(target= '_blank', href= 'http://github.com/adrianbravo/jukesy') github
      | . You'll find that most of the code is javascript.
