h1 Now Playing
- if (tracks.length)
  table#now-playing.table.table-condensed.table-striped
    thead
      tr
        th.play
        th Track
        th Artist
    tbody
- else
  p There are no tracks in this playlist. Try searching for something.