h1 Now Playing
- if (tracks.length)
  .tracks
    table.playlist.table.table-striped
      thead
        tr
          th.dd
          th.play
          th Track
          th Artist
      tbody
- else
  p There are no tracks in this playlist. Try searching for something.
