.hero-unit
  h1 jukesy is a music video player
  br
  p Find your favorite music videos, and play them without ads. Jukesy helps you search for music from Last.fm and play the most popular YouTube videos for those songs.
  p.pull-right
    a.sign-up.btn.btn-primary.btn-large Sign up &raquo;
