
#search.welcome
  .hero-unit
    h2 watch music videos on jukesy
    p Get started by searching Last.fm for an artist or track. There are also popular artists and tracks to listen to below.
  
  #search-artists
  .clear
  hr
  
  #search-tracks