
#search.welcome
  .hero-unit
    h2 watch music videos on jukesy
    p Get started above by searching Last.fm for an artist or track to enjoy. Or browse from lists of popular artists and tracks below.
  
  #search-artists
  .clear
  hr
  
  #search-tracks