a.image(href= '/artist/' + encodeURIComponent(album.get('artist')) + '/album/' + encodeURIComponent(album.get('name')))
  img(src= album.get('image'))
.info
  .artist
    a(href= '/artist/' + encodeURIComponent(album.get('artist')))= album.get('artist')
  .name
    a(href= '/artist/' + encodeURIComponent(album.get('artist')) + '/album/' + encodeURIComponent(album.get('name')))= album.get('name')
