.controls-left
  .control#backward
    .icon-white.icon-backward
  .control#play-pause
    .icon-white.icon-play
  .control#forward
    .icon-white.icon-forward
  .control#volume
    .icon-white.icon-volume-down#volume
  #volume-bar
    .fill

.controls-middle
  #timer
    .fill.progress.progress-success.progress-striped.active
      .track.bar

.controls-right
  .control#repeat
    .icon-white.icon-repeat.off
  .control#random
    .icon-white.icon-random.off
  .control#fullscreen
    .icon-white.icon-resize-full
  .control#radio
    .icon-white.icon-signal.off