.container
  .row
    .span12
      .track-info
      #time-read.pull-right
  .row
    .span12.controls
      .controls-left
        .control#prev
          .icon-backward
        .control#play-pause
          .icon-play
        .control#next
          .icon-forward
        .control#volume
          .icon-volume-down
        .control#volume-bar
          .fill.bar

      .controls-middle
        .control#timer.progress.progress-success.progress-striped
          .track.bar
          .fill

      .controls-right
        .control#repeat.off
          .icon-repeat
        .control#shuffle.off
          .icon-random
        .control#radio.off
          .icon-signal
        .control#fullscreen
          .icon-resize-full
