
.controls-left
  .control
    .icon-white.icon-backward
  .control
    .icon-white.icon-play#play-pause
  .control
    .icon-white.icon-forward
  .control
    .icon-white.icon-volume-down#volume
  #volume-bar
    .fill

.controls-middle
  #timer
    .fill
      .track

.controls-right
  .control
    .icon-white.icon-repeat.off
  .control
    .icon-white.icon-random.off
  .control
    .icon-white.icon-resize-full#fullscreen
  .control
    .icon-white.icon-signal.off