footer
  div.pull-right
    a(href= '/about') About
    |  &bullet; 
    a(href= '/privacy-policy') Privacy Policy
    |  &bullet; 
    a(href= '/terms-of-service') Terms of Service
    |  &bullet; 
    a#keyboard-shortcuts Keyboard Shortcuts

    
    //a.force-pause.ll.pull-right(target= '_blank', href= 'http://www.youtube.com/watch?v=hWiBt-pqp0E') &copy;
