footer
  div
    a(href= '/about') About
    |  &bullet; 
    a(href= '/terms-of-service') Terms of Service
    |  &bullet; 
    a(href= '/privacy-policy') Privacy Policy
    .pull-right &copy; is wrong
