footer
  div.pull-left
    a.ll(target= '_blank', href= 'http://twitter.com/jukesyapp') Twitter
  div.pull-right
    a(href= '/about') About
    |  &bullet; 
    //a(href= '/privacy-policy') Privacy Policy
    //|  &bullet; 
    //a(href= '/terms-of-service') Terms of Service
    //|  &bullet; 
    a#keyboard-shortcuts Keyboard Shortcuts

