footer
  div
    a(href= '/about') About
    |  &bullet; 
    a(href= '/terms-of-service') Terms of Service
    |  &bullet; 
    a(href= '/privacy-policy') Privacy Policy
    
    a.force-pause.ll.pull-right(target= '_blank', href= 'http://www.youtube.com/watch?v=hWiBt-pqp0E&t=4m23s') &copy; is wrong