.navbar-inner
  .container
    .row
      .span2
        a#brand.brand(href= '/') jukesy
      .span3
        input#query(type= 'text', placeholder= 'Search for music')
      #session-button
          include session_button