.modal-header
  a.close('data-dismiss'= 'modal') &times;
  h3 Keyboard shortcuts
.modal-body#keyboard-shortcuts-modal
  .third
    ul.unstyled
      li
        .key /
        | search
      li
        .key SPACE
        | pause / play
      li
        .key ESC
        | exit fullscreen
      li
        .key.big F
        | toggle fullscreen
      li
        .key.big V
        | go to video
      li
        .key.big P
        | go to now playing
        
  .third
    ul.unstyled
      li
        .key.big 1 - 9
        | switch YouTube videos
      li
        .key
          .icon.icon-arrow-up
        | increase volume
      li
        .key
          .icon.icon-arrow-down
        | decrease volume
      li
        .key
          .icon.icon-arrow-left
        | previous song
      li
        .key
          .icon.icon-arrow-right
        | next song
      li
        .key.big X
        | remove current song
        
  .third
    ul.unstyled
      li
        .key.big M
        | toggle mute
      li
        .key.big R
        | toggle repeat
      li
        .key.big S
        | toggle shuffle
      li
        .key.big D
        | toggle discovery
      li
        .key.big Q
        | toggle quality

  .clear
