head
  title jukesy - watch music videos

  meta(content= 'text/html; charset=utf-8', 'http-equiv'= 'content-type')
  meta(content= meta.description, name= 'description')
  meta(content= 'Adrian Bravo', name= 'author')
  meta(content= 'jukesy, music, music videos, youtube music', name= 'keywords')
  meta(content= 'width=device-width, initial-scale=1', name= 'viewport')
  
  meta(property= 'og:site_name', content= 'jukesy')
  meta(property= 'og:title', content= meta.title)
  meta(property= 'og:description', content= meta.description)
  meta(property= 'og:image', content= meta.image)
  meta(property= 'og:type', content= meta.type)
  meta(property= 'og:url', content= meta.url)
  meta(property= 'fb:app_id', content= '150725614969142')
  
  link(rel= 'icon', href= assets.favicon + '?' + gitsha, type= 'image/png')

  - each stylesheet in assets.css
    link(rel='stylesheet', href= stylesheet + '?' + gitsha, type='text/css')

  - each stylesheet in assets.less
    link(rel='stylesheet/less', href= stylesheet + '?' + gitsha, type='text/css')

  script(type= 'text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2224441-5']);
    _gaq.push(['_trackPageview']);
  - if (env == 'production')
    script(type= 'text/javascript')
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
