head
  title jukesy - watch music videos

  meta(content= 'text/html; charset=utf-8', 'http-equiv'= 'content-type')
  meta(content= 'Jukesy is a music video player. Find your favorite music videos, and play them without ads. Jukesy helps you search for music from Last.fm and play the most popular YouTube videos for those songs.', name= 'description')
  meta(content= 'Adrian Bravo', name= 'author')
  meta(content= 'jukesy, music, music videos, youtube music', name= 'keywords')
  meta(content= 'width=device-width, initial-scale=1', name= 'viewport')
  
  meta(property= 'og:site_name', content= 'jukesy')
  meta(property= 'og:title', content= 'jukesy - watch music videos')
  meta(property= 'og:description', content= 'Jukesy is a music video player. Find your favorite music videos, and play them without ads. Jukesy helps you search for music from Last.fm and play the most popular YouTube videos for those songs.')
  meta(property= 'og:image', content= 'http://static2.jukesy.com/img/jukesy-128.png')
  meta(property= 'og:type', content= 'website')
  meta(property= 'og:url', content= 'http://jukesy.com')
  meta(property= 'fb:admins', content= '5100149')
  
  link(rel= 'icon', href= assets.favicon, type= 'image/png')

  - each stylesheet in assets.css
    link(rel='stylesheet', href= stylesheet, type='text/css')

  - each stylesheet in assets.less
    link(rel='stylesheet/less', href= stylesheet, type='text/css')

  script(type= 'text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2224441-5']);
    _gaq.push(['_trackPageview']);
  - if (true || env == 'production')
    script(type= 'text/javascript')
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
