td.dd
  .dropdown
    a.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-chevron-down
    ul.dropdown-menu
      li
        a.playNow Play
      li
        a.queueNext Queue Next
      li
        a.queueLast Queue Last
      
      li.divider
      
      li
        a.addToPlaylist Add To Playlist&hellip;
      li
        a.addToFavorites Add To Favorites
      li
        a.ban Ban

td.play
  a.playNow
    .icon-play

td.name
  a(href= urlTrack(track.get('artist'), track.get('name')))= track.get('name')

td.artist
  a(href= urlArtist(track.get('artist')))= track.get('artist')
