- if (!albums)
  h3 #{displayType}
  p Found nothing
  
- else if (albums.length)

  - if (showMore)
    a.btn.btn-primary.show-more.pull-right(href= showMore) Show more &raquo;
  h3 #{displayType}
  .clear
  br

  .albums
    ul.unstyled
  .clear
  
  - if (loadMore)
    .load-more
      a.btn.btn-primary('data-loading-text'= 'Loading...') Load more

- else
  h3 #{displayType}
  p Loading...