td.dd
  .dropdown
    a.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-chevron-down
    ul.dropdown-menu
      li
        a.play-now Play
      li
        a.queue-next Queue Next
      li
        a.queue-last Queue Last
      
      li.divider
      
      li
        a.add-to-playlist Add to Playlist
      //li
      //  a.add-to-favorites Add To Favorites
      //li
      //  a.ban Ban

td.play
  a.play-now
    .icon-play

td.name
  a(href= urlTrack(track.get('artist'), track.get('name')))= track.get('name')

td.artist
  a(href= urlArtist(track.get('artist')))= track.get('artist')
