ul.nav.nav-pills
  - if (typeof currentUser == 'undefined')
    li
      a.sign-in Login
    li
      a.sign-up Sign up
  - else
    li
      a(href= '/user/' + currentUser.username) Settings
    li
      a.ll(href= '/logout') Logout
