ul.nav.nav-pills
  - if (typeof currentUser == 'undefined')
    li
      a.sign-up(href= '#') Sign up
    li
      a.sign-in(href= '#').highlight Login
  - else
    li.dropdown
      a.dropdown-toggle('data-toggle'= 'dropdown', href= '#') Account 
        b.caret
      ul.dropdown-menu
        li
          a(href= '/user/' + currentUser.username) View my profile
        li
          a(href= '/user/' + currentUser.username + '/edit') Edit settings
        li.divider
        li
          a.ll(href= '/logout') Logout
