.modal-header
  a.close('data-dismiss'= 'modal') &times;
  h3 Share
.modal-body#share

  p
    button.btn.share-facebook
      i.icon-facebook-sign
      |  facebook
    button.btn.share-twitter
      i.icon-twitter-sign
      |  twitter

  p You can also copy the url manually:

  p
    textarea#share-url #{url}
    
.modal-footer
  button.btn('data-dismiss'= 'modal')
    i.icon-arrow-left
    |  Go back
