ul.nav.nav-list

  li
    a(href= '/#').create-new-playlist
      i.icon-plus-sign
      |  Create New Playlist

  //li
  //  a(href= '/favorites')
  //    i.icon-star
  //    |  Favorites

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  Playlists

  hr

  - if (typeof playlists != 'undefined')
    each playlist in playlists
      li
        a.playlist(href= playlist.url
          class= (playlist._id ? '' : ' unsaved ') + (playlist.active ? ' active ' : ''))
            - if (playlist.nowPlaying)
              i.icon-music
            - else
              i.icon-empty
            |  #{playlist.name}