ul.nav.nav-list

  li
    a(href= nowPlayingURL)
      i.icon-music
      | Now Playing
  li
    a(href= '/#').create-new-playlist
      i.icon-plus-sign
      |  Create New Playlist

  //li
  //  a(href= '/favorites')
  //    i.icon-star
  //    |  Favorites

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  My Playlists

  li.divider

  - if (typeof playlists != 'undefined')
    each playlist in playlists
      li
        a.playlist(href= playlist.url, class= (playlist.active ? ' active ' : ''))
          - if (playlist.nowPlaying)
            i.icon-music
          - else
            i.icon-empty
          | #{playlist.name}