ul.nav.nav-list
  li
    a(href= '/now-playing')
      i.icon-music
      |  Now Playing

  li
    a(href= '/favorites')
      i.icon-star
      |  Favorites

  li
    a(href= '#')
      i.icon-plus-sign
      |  Create a playlist

  - if (typeof currentUser != 'undefined')

    // if no playlists, do not show hr
    // else, show hr and list of playlists
