ul.nav.nav-list
  li
    a(href= '/now-playing')
      i.icon-music
      |  Now Playing

  li
    a(href= '/favorites')
      i.icon-star
      |  Favorites

  li
    a
      i.icon-plus-sign
      |  Create a playlist

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  Playlists

  - if (typeof playlists != 'undefined')
    each playlist in playlists
      li
        a(href= '/user/' + playlist.user + '/playlist/' + playlist._id) #{playlist.name}
  
  - if (typeof currentUser != 'undefined')


    // if no playlists, do not show hr
    // else, show hr and list of playlists
