ul.nav.nav-list

  - if (typeof nowPlayingUrl != 'undefined')
    li
      a(href= nowPlayingUrl)
        i.icon-music
        |  Now Playing
  li
    a(href= '/#').create-playlist
      i.icon-plus-sign
      |  Create Playlist

  //li
  //  a(href= '/favorites')
  //    i.icon-star
  //    |  Favorites

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  My Playlists

  - if (typeof playlists != 'undefined')
    li.divider
    each playlist in playlists
      li
        a.playlist(href= playlist.url, class= (playlist.active ? ' active ' : '') + (playlist.changed ? ' changed ' : '') + (!playlist._id ? ' new ' : ''))
          - if (playlist.nowPlaying)
            i.icon-music
          - else
            i.icon-empty
          |  #{playlist.name}
