ul.nav.nav-list
  li
    a(href= '/now-playing')
      i.icon-music
      |  Now Playing

  //li
  //  a(href= '/favorites')
  //    i.icon-star
  //    |  Favorites

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  Playlists

  - if (typeof playlists != 'undefined')
    - if (playlists.length)
      hr
    
    each playlist in playlists
      - console.log('playlist', playlist)
      li
        a.playlist(href= '/user/' + playlist.user + '/playlist/' + playlist._id)
          - if (playlist.nowPlaying)
            i.icon-music
          - else
            i.icon-bookmark
          |  #{playlist.name}