ul.nav.nav-list

  //li
  //  a(href= '/favorites')
  //    i.icon-star
  //    |  Favorites

  li
    a(href= '/user/' + ((currentUser && currentUser.username) || 'anonymous') + '/playlist')
      i.icon-th-list
      |  Playlists

  hr

  - if (typeof playlists != 'undefined')
    each playlist in playlists
      li
        a.playlist(href= '/user/' + playlist.user + '/playlist/' + playlist._id)
          - if (playlist.nowPlaying)
            i.icon-music
          - else
            i.icon-bookmark
          |  #{playlist.name}
        
  - if (typeof unsavedPlaylist != 'undefined')
    li
      a.unsaved.playlist(href= '/unsaved-playlist')
        i.icon-music
        |  #{unsavedPlaylist.name}