td.dd
  .dropdown
    a.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-chevron-down
    ul.dropdown-menu
      - if (!track.error)
        li
          a.play-now Play Now
        li.divider
      
      li
        a.remove Remove Track
      
      //li
      //  a.add-to-playlist Add To Playlist&hellip;
      //li
      //  a.add-to-favorites Add To Favorites
      //li
      //  a.ban Ban

td.play
  - if (!track.error)
    a.play-now
      .icon-play
  - else
    a
      .icon-exclamation-sign('data-content'= 'No working YouTube videos could be found for this track.', 'data-original-title'= 'Error')

td.name
  a(href= urlTrack(track.get('artist'), track.get('name')))= track.get('name')
  
td.artist
  a(href= urlArtist(track.get('artist')))= track.get('artist')
