td.dd
  .dropdown
    a.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-chevron-down
    ul.dropdown-menu
      li
        a.play-now Play Now
      
      li.divider
      
      li
        a.remove Remove Track

td.play
  a.play-now
    .icon-play

td.name
  a(href= urlTrack(track.artist, track.name)) #{track.name}
  
td.artist
  a(href= urlArtist(track.artist)) #{track.artist}
  .pull-right.remove
    i.icon-remove
