- if (!tracks)
  p Found nothing
- else if (tracks.length)
  table.table.table-striped
    thead
      tr
        th.dropdown
        th.play
        th Track
        th Artist
    tbody
- else
  p Loading...