h2 Edit Account
form.form-horizontal
  fieldset

    .control-group
      label.control-label(for= 'user-edit-fullname') Full Name
      .controls
        input#user-edit-fullname(type= 'text', name= 'fullname', value= user.fullname)
        span.help-inline

    .control-group
      label.control-label(for= 'user-edit-bio') Bio
      .controls
        textarea#user-edit-bio.input-large(rows= 3, name= 'bio')
          = escape(user.bio || '')
        span.help-inline

    .control-group
      label.control-label(for= 'user-edit-location') Location
      .controls
        input#user-edit-location(type= 'text', name= 'location', value= user.location)
        span.help-inline

    .control-group
      label.control-label(for= 'user-edit-website') Website
      .controls
        input#user-edit-website(type= 'text', name= 'website', value= user.website)
        span.help-inline

    .control-group
      label.control-label(for= 'user-edit-email') Email
      .controls
        input#user-edit-email(type= 'text', name= 'email', value= user.email)
        span.help-inline

p
  a.btn.btn-primary Update
  |  
  a.btn(href= '/user/#{user.username}') View Profile
  