.modal-header
  h3 Reset password
.modal-body
  form
    fieldset

      .control-group
        label.control-label(for= 'reset-password') Password
        .controls
          input#reset-password(type= 'password', name= 'password')
          span.help-inline

      .control-group
        label.control-label(for= 'reset-password-confirm') Password Confirm
        .controls
          input#reset-password-confirm(type= 'password', name= 'password-confirm')
          span.help-inline

.modal-footer
  button.btn.btn-primary Reset password
