h1 Playlists - #{user}

ul
  each playlist in playlists
    li
      a(href= '/user/' + user + '/playlist/' + playlist._id) #{playlist.name}
      - if (playlist.time)
        |  #{playlist.time.created}
