- if (!playlist._id || (currentUser && currentUser.username == playlist.user))
  .btn-group.pull-right
    button.btn.btn-large.btn-info.playlist-save
      i.icon-upload-alt
      |  Save
    button.btn.btn-large.btn-info.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-caret-down
    ul.dropdown-menu
      li
        a.playlist-save
          i.icon-upload-alt
          |  Save
      - if (playlist._id)
        li
          a.playlist-autosave
            i.icon-refresh
            - if (playlist.autosave)
              |  Disable Autosave
            - else
              |  Enable Autosave
      li
        a.playlist-sidebar
          - if (playlist.sidebar)
            i.icon-star-empty
            |  Remove from Sidebar
          - else
            i.icon-star
            |  Add to Sidebar
      li
        a.playlist-delete
          i.icon-trash
          |  Delete


- if (!playlist.nowPlaying)
  .btn-group.pull-right
    button.btn.btn-primary.btn-large.play-all Play All
    button.btn.btn-primary.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      i.icon-caret-down
    ul.dropdown-menu
      li
        a.play-all Play All
      li
        a.queue-all-next Queue All Next
      li
        a.queue-all-last Queue All Last
      - if (playlist._id)
        li.divider
        li
          a.add-to-playlist Add to Playlist
        //li.divider
        //li
        //  a.share Share
- else if (playlist._id)
  //button.btn.btn-primary.btn-large.pull-right.share
  //  i.icon-share
  //  |  Share

- if (editName)
  input.playlist-name-edit(maxlength= '50', name= 'playlist-name', value= playlist.name)
- else
  div.playlist-name #{playlist.name}

- if (playlist.nowPlaying)
  span.label.label-success listening
- if (playlist.changed)
  span.label.label-warning changed
- if (!playlist._id)
  span.label.label-important new

- if (playlist._id)
  p Created by 
    a(href= '/user/' + playlist.user) #{playlist.user}
    | , #{playlist.tracks_count} #{_.plural(playlist.tracks_count, 'track', 'tracks')}

.clear

- if (playlist.tracks_count)  
  .tracks
    table.playlist.table.table-striped
      thead
        tr
          th.dd
          th.play
          th Track
          th Artist
      tbody
- else
  br
  .hero-unit
    h2 This playlist is empty.
