- if (!playlist._id || (currentUser && currentUser.username == playlist.user))
  .btn-group.pull-right
    button.btn.btn-primary.btn-large.playlist-save Save
    button.btn.btn-primary.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.playlist-save Save
      //li
      //  a.playlist-save-as Save as...
      //li
      //  a.playlist-delete Delete

- if (nowPlaying)
  h1 Now Playing

- if (editName)
  input.playlist-name-edit(maxlength= '50', name= 'playlist-name', value= playlist.name)
- else
  - if (!playlist._id || (currentUser && currentUser.username == playlist.user))
    .playlist-name.edit #{playlist.name}
      button.btn.btn-mini
        i.icon-pencil
        |  Edit Playlist Name
  - else
    .playlist-name #{playlist.name}

p Created by #{playlist.user}, #{playlist.tracks_count} tracks

- if (!nowPlaying)
  .btn-group
    button.btn.btn-large.play-all Play All
    button.btn.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.play-all Play All
      li
        a.queue-all-next Queue Next
      li
        a.queue-all-last Queue Last

- if (playlist.tracks_count)  
  .tracks
    table.playlist.table.table-striped
      thead
        tr
          th.dd
          th.play
          th Track
          th Artist
      tbody
