- if (currentUser && currentUser.username == playlist.user)
  .btn-group.pull-right
    button.btn.btn-primary.btn-large.playlist-save
      i.icon-arrow-up
      |  Save
    button.btn.btn-primary.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.playlist-save
          i.icon-arrow-up
          |  Save
      li
        a.playlist-sidebar
          - if (playlist.sidebar)
            i.icon-star-empty
            |  Remove from Sidebar
          - else
            i.icon-star
            |  Add to Sidebar
      li
        a.playlist-delete
          i.icon-trash
          |  Delete
- else if (!playlist._id)
  button.btn.btn-primary.btn-large.playlist-save.pull-right
    i.icon-arrow-up
    |  Save

- if (!nowPlaying)
  .btn-group.pull-right
    button.btn.btn-large.play-all Play All
    button.btn.btn-large.dropdown-toggle('data-toggle'= 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.play-all Play All
      li
        a.queue-all-next Queue All Next
      li
        a.queue-all-last Queue All Last


- if (editName)
  input.playlist-name-edit(maxlength= '50', name= 'playlist-name', value= playlist.name)
- else
  div.playlist-name #{playlist.name}
- if (nowPlaying)
  span.label.label-info listening
- if (!playlist._id || playlist.changed)
  span.label.label-important unsaved


p Created by 
  a(href= '/user/' + playlist.user) #{playlist.user}
  | , #{playlist.tracks_count} #{_.plural(playlist.tracks_count, 'track', 'tracks')}

- if (playlist.tracks_count)  
  .tracks
    table.playlist.table.table-striped
      thead
        tr
          th.dd
          th.play
          th Track
          th Artist
      tbody
