script#404-template(type= 'text/jade-template')
  != jadeLiteral('404')

script#500-template(type= 'text/jade-template')
  != jadeLiteral('500')

script#welcome-template(type= 'text/jade-template')
  != jadeLiteral('home/welcome')

script#about-template(type= 'text/jade-template')
  != jadeLiteral('home/about')

script#alert-template(type= 'text/jade-template')
  != jadeLiteral('alert')

script#user-new-template(type= 'text/jade-template')
  != jadeLiteral('user/new')

script#user-show-template(type= 'text/jade-template')
  != jadeLiteral('user/show')

script#user-edit-template(type= 'text/jade-template')
  != jadeLiteral('user/edit')

script#session-new-template(type= 'text/jade-template')
  != jadeLiteral('session/new')

script#session-button-template(type= 'text/jade-template')
  != jadeLiteral('layout/session_button')
