script#401-template(type= 'text/jade-template')
  != jadeLiteral('401')

script#404-template(type= 'text/jade-template')
  != jadeLiteral('404')

script#500-template(type= 'text/jade-template')
  != jadeLiteral('500')

script#welcome-template(type= 'text/jade-template')
  != jadeLiteral('home/welcome')

script#about-template(type= 'text/jade-template')
  != jadeLiteral('home/about')

script#terms-of-service-template(type= 'text/jade-template')
  != jadeLiteral('home/terms_of_service')

script#privacy-policy-template(type= 'text/jade-template')
  != jadeLiteral('home/privacy_policy')

script#now-playing-template(type= 'text/jade-template')
  != jadeLiteral('home/now_playing')

script#user-new-template(type= 'text/jade-template')
  != jadeLiteral('user/new')

script#user-show-template(type= 'text/jade-template')
  != jadeLiteral('user/show')

script#user-edit-template(type= 'text/jade-template')
  != jadeLiteral('user/edit')

script#session-new-template(type= 'text/jade-template')
  != jadeLiteral('session/new')

script#controls-template(type= 'text/jade-template')
  != jadeLiteral('layout/controls')

script#keyboard-shortcuts-template(type= 'text/jade-template')
  != jadeLiteral('layout/keyboard_shortcuts')

script#alert-template(type= 'text/jade-template')
  != jadeLiteral('layout/alert')

script#sidebar-template(type= 'text/jade-template')
  != jadeLiteral('layout/sidebar')

script#session-button-template(type= 'text/jade-template')
  != jadeLiteral('layout/session_button')

script#track-template(type= 'text/jade-template')
  != jadeLiteral('layout/track')

script#search-query-track-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_query_track')

script#search-query-album-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_query_album')

script#search-query-artist-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_query_artist')

script#search-query-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_query')

script#search-track-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_track')
  
script#search-album-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_album')

script#search-artist-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_artist')

script#search-results-tracks-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_results_tracks')

script#search-results-albums-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_results_albums')

script#search-results-artists-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_results_artists')

script#search-result-track-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_result_track')

script#search-result-album-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_result_album')

script#search-result-artist-template(type= 'text/jade-template')
  != jadeLiteral('layout/search_result_artist')

