script#401-template(type= 'text/jade-template')
  != jadeLiteral('401')

script#404-template(type= 'text/jade-template')
  != jadeLiteral('404')

script#500-template(type= 'text/jade-template')
  != jadeLiteral('500')

script#welcome-template(type= 'text/jade-template')
  != jadeLiteral('home/welcome')

script#about-template(type= 'text/jade-template')
  != jadeLiteral('home/about')

script#terms-of-service-template(type= 'text/jade-template')
  != jadeLiteral('home/terms_of_service')

script#privacy-policy-template(type= 'text/jade-template')
  != jadeLiteral('home/privacy_policy')

script#now-playing-template(type= 'text/jade-template')
  != jadeLiteral('home/now_playing')

script#user-new-template(type= 'text/jade-template')
  != jadeLiteral('user/new')

script#user-show-template(type= 'text/jade-template')
  != jadeLiteral('user/show')

script#user-edit-template(type= 'text/jade-template')
  != jadeLiteral('user/edit')

script#session-new-template(type= 'text/jade-template')
  != jadeLiteral('session/new')

script#track-template(type= 'text/jade-template')
  != jadeLiteral('layout/track')

script#controls-template(type= 'text/jade-template')
  != jadeLiteral('layout/controls')

script#keyboard-shortcuts-template(type= 'text/jade-template')
  != jadeLiteral('layout/keyboard_shortcuts')

script#alert-template(type= 'text/jade-template')
  != jadeLiteral('layout/alert')

script#sidebar-template(type= 'text/jade-template')
  != jadeLiteral('layout/sidebar')

script#session-button-template(type= 'text/jade-template')
  != jadeLiteral('layout/session_button')
