#401-template
  != jadeLiteral('401')

#404-template
  != jadeLiteral('404')

#500-template
  != jadeLiteral('500')

#welcome-template
  != jadeLiteral('home/welcome')

#about-template
  != jadeLiteral('home/about')

#terms-of-service-template
  != jadeLiteral('home/terms_of_service')

#privacy-policy-template
  != jadeLiteral('home/privacy_policy')

#now-playing-template
  != jadeLiteral('home/now_playing')

#playlist-index-template
  != jadeLiteral('playlist/index')

#playlist-show-template
  != jadeLiteral('playlist/show')

#playlist-destroy-template
  != jadeLiteral('playlist/destroy')

#user-new-template
  != jadeLiteral('user/new')

#user-show-template
  != jadeLiteral('user/show')

#user-edit-template
  != jadeLiteral('user/edit')

#user-forgot-template
  != jadeLiteral('user/forgot')

#user-reset-template
  != jadeLiteral('user/reset')

#session-new-template
  != jadeLiteral('session/new')

#controls-template
  != jadeLiteral('layout/controls')

#keyboard-shortcuts-template
  != jadeLiteral('layout/keyboard_shortcuts')

#share-template
  != jadeLiteral('layout/share')

#alert-template
  != jadeLiteral('layout/alert')

#sidebar-template
  != jadeLiteral('layout/sidebar')

#session-button-template
  != jadeLiteral('layout/session_button')

#track-template
  != jadeLiteral('layout/track')

#track-info-template
  != jadeLiteral('layout/track_info')

#search-query-track-template
  != jadeLiteral('layout/search_query_track')

#search-query-album-template
  != jadeLiteral('layout/search_query_album')

#search-query-artist-template
  != jadeLiteral('layout/search_query_artist')

#search-query-template
  != jadeLiteral('layout/search_query')

#search-track-template
  != jadeLiteral('layout/search_track')
  
#search-album-template
  != jadeLiteral('layout/search_album')

#search-artist-template
  != jadeLiteral('layout/search_artist')

#search-artist-top-tracks-template
  != jadeLiteral('layout/search_artist_top_tracks')

#search-artist-top-albums-template
  != jadeLiteral('layout/search_artist_top_albums')

#search-artist-similar-template
  != jadeLiteral('layout/search_artist_similar')

#search-results-tracks-template
  != jadeLiteral('layout/search_results_tracks')

#search-results-albums-template
  != jadeLiteral('layout/search_results_albums')

#search-results-artists-template
  != jadeLiteral('layout/search_results_artists')

#search-result-track-template
  != jadeLiteral('layout/search_result_track')

#search-result-album-template
  != jadeLiteral('layout/search_result_album')

#search-result-artist-template
  != jadeLiteral('layout/search_result_artist')

