#app
  #header
    #header-inner.inner10
      a.home(href= '/')= __('jukesy')
  #sidebar
    #quickbar
      #quickbar-inner.inner10
        p sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebar sidebar sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar
        p sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebar sidebar sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar
        p sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebarsidebar sidebar sidebar sidebar sidebar sidebarsidebarsidebarsidebarsidebarsidebarsidebar
    #video

  #main
    //a#home(href= '#/')= __('jukesy')
    //a(href= '#/favorites') __('favorites')
    //a(href= '#/playlists') __('playlists')
    //input#query.right(name= 'jukesy_query', type= 'text', value= '', placeholder= 'search for music', spellcheck= 'false')
    //.clear
  //#main
  //#playlist_wrapper
  //  #playlist.tracks
  //#video_wrapper
  //  #video

//#footer
//  .content
//    #controls



script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
- each script in scripts
  script(src= '/' + script)


