#app
  #header
    a.home(data-href= '#/')= __('jukesy')
    input#query.input(name= 'jksy_query', type= 'text', value= '', placeholder= __('search for music'), spellcheck= 'false')
    #login= __('login')
  #sidebar
    #quickbar
  #video
  #main-wrapper
    #main
  #controls
  #wait
  #wait-top