!!! 5
html
  include layout/meta

  body.fade
    include layout/header
    #modal.modal.hide.fade
    .container-fluid
      .row-fluid
        .span2
          #sidebar.well.sidebar-nav
            include layout/sidebar
        .span10
          #main
            != body
          hr
          include layout/footer

    != partial('_templates')
    script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    - each script in assets.js
      script(src= '/' + script)
