!!! 5
html
  include layout/meta

  body.fade
    #modal.modal.hide.fade
    #header.navbar.navbar-fixed-top
      include layout/header
    #container.container
      .row
        .span2
          #sidebar.sidebar-nav
            include layout/sidebar
        .span10.offset2
          #main
            != body
          hr
          include layout/footer
    #video
    #controls

    != partial('_templates')
    script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    - each script in assets.js
      script(src= '/' + script)
