.playlists {
  span.label {
    margin-left: 5px;
  }
}

.playlist {
  .label {
    vertical-align: top;
    margin-left: 10px;
  }
  
  button.playlist-save .icon-upload {
    margin-right: 2px;
  }
  
  .playlist-name {
    display: inline-block;
    padding: 4px 0 13px 0;
    font-size: 24px;
    
    &.edit {
      cursor: pointer;
    }
  }
}
